<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/assets/css/syntax.css">
          <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
          <script src="{{ '/assets/js/code-enhancer.js' | relative_url }}" defer></script>
          <!-- After (this works everywhere) -->
          <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
